<section class="testimonials">
  <div class="background">
    <img src="assets/img/icon/quote.svg" alt="">
  </div>
  <div class="col-md-12 text-center mb-5">
    <h4 class="mb-1 text-center"> Testimonials</h4>
    <span>What our clients says</span>
  </div>

  <carousel>
    <slide>
      <div class="statement col-8 mx-auto text-center mb-3">
        Locals Calls has helped in the worst of the times. I was new in the city and didn’t knew much about the local market of this city. LocalCalls helped me as a saviour and I got to know about the best vendors in the area. Thank You LocalCalls for helping me out.
      </div>
      <div class="user-info text-center">
        <p class="text-success mb-1">Aakriti</p>
        <span>User</span>
      </div>
    </slide>
    <slide>
      <div class="statement col-8 mx-auto text-center mb-3">
        It was high time when I was fed-up of finding a good automobile repair shop. Then I came to know about this app named as Local Calls - Apka Local Expert. And to my surprise it is actually your Local Expert. You could find the best service providers among a large variety of services. Thanks Local Calls.
      </div>
      <div class="user-info text-center">
        <p class="text-success mb-1">Divyansh</p>
        <span>User</span>
      </div>
    </slide>
    <slide>
      <div class="statement col-8 mx-auto text-center mb-3">
        It’s an amazing app. You can get everything at this place. It’s like a one stop shop and anyone can find anything very easily by downloading the app. I have been using it from a long time and Local Calls has helped me in every possible way. It’s a must try !!
      </div>
      <div class="user-info text-center">
        <p class="text-success mb-1">Ravi Singh</p>
        <span>User</span>
      </div>
    </slide>
  </carousel>
</section>