<div class="container-fluid">

  <div class="row header">
    <h2 style="color:white">
      <strong>
        <u>ABOUT US</u>
      </strong>
    </h2>
  </div>

  <div class="container-fluid back">
    <div class="row text mx-auto">
      <div class="col-md-8 mx-auto">
        <p style="color: white;text-align: center;margin-bottom: 40px;" class="top-p">Our Service extends from providing address and contact details of business establishments around the country, to
          making orders and reservations for leisure, medical, financial, travel and domestic purposes. We enlist buisness
          information across varied sectors like Hotels, Restaurants, Auto Care, Home Decor, Personal and Pet Care, Fitness,
          Insurance, Real Estate, Sports, Schools etc. from all over the country. Holding information right from major cities
          like Mumbai, Delhi, Banglore, Hyderabad, Chennai, Ahmadabad and Pune our reach stretches out to other smaller cities
          across the country too.
        </p>

        <p style="color: white;text-align: center"> Our 'Free Listing' feature gives a platform to showcase varied specialities. We then furnish you with the information
          via phone, SMS, web, App and WAP as well as, create a space for you to share your experience throught our 'Rate
          & Review' feature. Through the 'Best Deals','Last Minute Deals' and 'Live Quotes', we make sure that you are offered
          the best bargains in the market. Our 'Free Listing' feature gives a platform to showcase varied specialities. We
          then furnish you with the information via phone, SMS, web, App and WAP as well as, create a space for you to share
          your experience through our 'Rate & Review' feature.Through the 'Best Deals','Last Minute Deals' and 'Live Quotes',
          we make sure that you are offered the best bargains in the market. Our 'Free Listing' feature gives a platform
          to showcase varied specialities. We then furnish you with the information via phone, SMS, web, App and WAP as well
          as, create a space for you to share your experience through our 'Rate & Review' feature.Through the 'Best Deals','Last
          Minute Deals' and 'Live Quotes', we make sure that you are offered the best bargains in the market. Our 'Free Listing'
          feature gives a platform to showcase varied specialities. We then furnish you with the information via phone, SMS,
          web, App and WAP as well as, create a space for you to share your experience through our 'Rate & Review' feature.Through
          the 'Best Deals','Last Minute Deals' and 'Live Quotes', we make sure that you are offered the best bargains in
          the market.

        </p>
      </div>

    </div>
  </div>



</div>
