<div class="backgroundimg row">
  <div class="col-md-5 contentcontact">
    <h1 class="text text-center">Press Contact</h1>
    <div class="col-md-8 col-md-offset-2">
    <img class="img-responsive" src="assets/img/map-transparent.png">
    </div>
  </div>
  <div class="vl col-md-1"></div>
  <div class="col-md-3 col-md-offsset-1 content">
      <h4>Here are listings of my press contacts.</h4>
      <div class="office-address">
      <h3 class="text text-center">Office Location</h3>
      <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp; 4th floor, Regus, Halwasiya Court Hazratganj Lucknow. 226001.</p>
      <p><i class="fa fa-envelope"></i>&nbsp;&nbsp; info@localcalls.in, sales@localcalls.in</p>
      <p><i class="fa fa-mobile"></i>&nbsp;&nbsp; 0522-3227714/16</p>
    </div>
  </div>
</div>
