<div class="container-fluid">

  <div class="row header">
    <h2 style="color:white">
      <strong>
        <u>Terms & Conditions</u>
      </strong>
    </h2>
  </div>

  <div class="container-fluid back">
    <div class="row text mx-auto">
      <div class="col-md-8 mx-auto">
        <p style="color:white;text-align: center">YOUR ACCEPTANCE OF THIS AGREEMENT: 
          This is an agreement between you ("you" or "your") and LocalCalls Limited, a company incorporated under
           the Companies Act 1956 with its registered office at 4th floor, Regus, Halwasiya Court Hazratganj Lucknow. 226001 
          ("LocalCalls" "we," or "our") that governs your use of the search services offered by LocalCalls through its website 
          www.localcalls.in ("Website"), telephone search, SMS, WAP or any other medium using which LocalCalls may provide the search services 
          (collectively "Platforms" ). When you access or use any of the Platforms you agree to be bound by these Terms and Conditions ("Terms").</p>
        <p style="color:white;text-align: center">HOW YOU MAY USE OUR MATERIALS: We use a diverse range of information, text, photographs, designs, graphics, images,
           sound and video recordings, animation, content, advertisement and other materials and effects (collectively "Materials") for the search services on the Platforms.
            We provide the Material through the Platforms FOR YOUR PERSONAL AND NON-COMMERCIAL USE ONLY.

          While every attempt has been made to ascertain the authenticity of the Platforms content, LocalCalls is not liable for any kind of damages, losses or action arising 
          directly or indirectly, due to access and/or use of the content in the Platforms including but not limited to decisions based on the content in the Platforms 
          which results in any loss of data, revenue, profits, property, infection by viruses etc.
          
          Accordingly, you may view, use, copy, and distribute the Materials found on the Platforms for internal, non-commercial, informational purposes only. 
          You are prohibited from data mining, scraping, crawling, or using any process or processes that send automated queries to LocalCalls.. You may not use
           the Platforms or any of them to compile a collection of listings, including a competing listing product or service. 
           You may not use the Platforms or any Materials for any unsolicited commercial e-mail. Except as authorized in this paragraph, you are not being granted a license under any 
           copyright, trademark, patent or other intellectual property right in the Materials or the products, services, processes or technology described therein.
            All such rights are retained by LocalCalls, its subsidiaries, parent companies, and/or any third party owner of such rights.</p>
      </div>

    </div>
  </div>



</div>
