<div class="container-fluid happyback">

  <div class="row">
    <div class="col-md-8 mx-auto row" *ngFor="let stat of stats">
      <div class="col-md-4 col-12 text-white text-center">
        <h1>
          <strong>{{stat.verified_listing}}+</strong>
        </h1>
        <h4>
          <strong>Verified Listings</strong>
        </h4>
      </div>
      <div class="col-md-4 col-12 text-white text-center">
        <h1>
          <strong>{{stat.happy_clients}}+</strong>
        </h1>
        <h4>
          <strong>Happy Clients</strong>
        </h4>
      </div>
      <div class="col-md-4 col-12 text-white text-center">
        <h1>
          <strong>{{stat.certified_professional}}+</strong>
        </h1>
        <h4>
          <strong>Certified Professionals</strong>
        </h4>
      </div>
    </div>


  </div>
</div>

<div class="container-fluid bestpart py-5">
  <div class="row">
    <div class="col-md-12 text-center mb-3">
      <h4 class="mb-1 text-center"> What makes us the best.</h4>
      <span>Features that make us stand apart.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto ">
      <div class="row spec">
        <div class="col-md-4 col-12 specs-div" style="overflow: auto">
          <div class="ico float-left">
            <i class="far fa-eye"></i>
          </div>
          <div class="content float-right" style="width: 90%">
            <h6 class="text-left pt-2 mb-2">
              <strong>Eye on Quality</strong>
            </h6>
            <p>We always prefer quality over quantity. All the service providers and products have undergone through quality checks. Every provider assures premium services to every user. </p>
          </div>

        </div>
        <div class="col-md-4 col-12 specs-div" style="overflow: auto">
          <div class="ico float-left">
            <i class="fas fa-lock"></i>
          </div>
          <div class="content float-right" style="width: 90%">
            <h6 class="text-left pt-2 mb-2">
              <strong>Protection Guaranteed</strong>
            </h6>
            <p>We ensure 100% protection for every query of our customer. All our providers are certified and have gone through several verifications. Hence we guarantee full user protection. </p>
          </div>

        </div>
        <div class="col-md-4 col-12 specs-div" style="overflow: auto">
          <div class="ico float-left">
            <i class="fas fa-comments"></i>
          </div>
          <div class="content float-right" style="width: 90%">
            <h6 class="text-left pt-2 mb-2">
              <strong>24/7 Support</strong>
            </h6>
            <p>Stay in touch with our 24x7 active team. We have a team of experts that are always available to help you out with your daily issues. </p>
          </div>

        </div>
      </div>

      <div class="row spec">

        <div class="col-md-4 col-12 specs-div" style="overflow: auto">
          <div class="ico float-left">
            <i class="fas fa-sync"></i>
          </div>
          <div class="content float-right" style="width: 90%">
            <h6 class="text-left pt-2 mb-2">
              <strong>Prompt Response</strong>
            </h6>
            <p> We have created a system that gives instant responses to every sort of query made by the user. Hence saving users time and making it more convenient.
            </p>
          </div>

        </div>
        <div class="col-md-4 col-12 specs-div" style="overflow: auto">
          <div class="ico float-left">
            <i class="fas fa-check-double"></i>
          </div>
          <div class="content float-right" style="width: 90%">
            <h6 class="text-left pt-2 mb-2">
              <strong>Verified Ads</strong>
            </h6>
            <p> All the ads displayed have been verified and certified by us. Thorough verification of the ads has always been a priority of our team. 
            </p>
          </div>

        </div>
        <div class="col-md-4 col-12 specs-div" style="overflow: auto">
          <div class="ico float-left">
            <i class="fas fa-shield-alt"></i>
          </div>
          <div class="content float-right" style="width: 90%">
            <h6 class="text-left pt-2 mb-2">
              <strong>Secure Payment</strong>
            </h6>
            <p> Our payment methods are fully secured and well encrypted with security measures. So you need not to worry - Because your money is in safe hands.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>


<div class="container-fluid color">
  <div class="row">

    <div class="col-12 col-md-12 col-lg-12">

      <p class="para-color ">Download Our App
        <span class="on">on</span> App Store</p>
      <p class="paraOne-color">Download our app and search anything instantly through your Local Expert.
      </p>


    </div>

  </div>
  <div class="row parent app-div">
    <button class="btn "><img src="assets/img/icon/icon7.png" alt="" style="width:35px"> &nbsp;&nbsp; ANDROID</button>
    <button class="btn "><img src="assets/img/icon/ios.png" alt="" style="width:35px">&nbsp;&nbsp; IOS</button>
    <button class="btn "><img src="assets/img/icon/windows.png" alt="" style="width:35px"> &nbsp;&nbsp; WINDOWS</button>
  </div>

</div>





























<!--
             <section style="padding: 40px;background-color: #cceae2">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h3 style="text-align: center;font-weight: 700;background-color: lightgrey;width: 330px;border-radius: 25px;margin:auto;margin-bottom: 40px; ">Best Coustomer Reviews</h3>
                    <div class="row">
                      <div class="col-md-3">
                        <div class=" boxed  text-center" style="min-height: 400px;background:none;">
                          <img src="assets/img/shivam.jpg" style="border-radius: 100%;height: 100px;width: 100px;">
                          <h5>Shivam Singh</h5>
                          <p style="padding: 0px;margin:0px;margin-top: -16px;border-bottom: 1px solid grey;font-size: 12px">Wedding Photographer</p>
                          <p style="padding: 10px;font-size: 12px;">From earning 10K a month to being totally booked from November till February -- My Local calls Journey.</p>
                        </div>
                      </div>

                       <div class="col-md-3">
                        <div class=" boxed  text-center" style="min-height: 400px;background:none;">
                          <img src="assets/img/chitranshu.jpg" style="border-radius: 100%;height: 100px;width: 100px;">
                          <h5>Chitranshu Srivastva</h5>
                          <p style="padding: 0px;margin:0px;margin-top: -16px;border-bottom: 1px solid grey;font-size: 12px;">Make-up Artist</p>
                          <p style="padding: 10px;font-size: 12px;">Local calls has given me an opportunity to showcase my work through a convenient platform. It’s all One CLICK away.</p>
                        </div>
                      </div>

                       <div class="col-md-3">
                        <div class=" boxed  text-center" style="min-height: 400px;background:none;">
                          <img src="assets/img/cowork-8.jpg" style="border-radius: 100%;height: 100px;width: 100px;">
                          <h5>Ashutosh Mishra</h5>
                          <p style="padding: 0px;margin:0px;margin-top: -16px;border-bottom: 1px solid grey;font-size: 12px;">Fitness Trainer</p>
                          <p style="padding: 10px;font-size: 12px;">In the past one year Local calls has given me business worth Rs. 4.5Lakh+ and has enabled me in quitting my MNC job.</p>
                        </div>
                      </div>

                       <div class="col-md-3">
                        <div class=" boxed  text-center" style="min-height: 400px;background:none;">
                          <img src="assets/img/cowork-8.jpg" style="border-radius: 100%;height: 100px;width: 100px;">
                          <h5>Ashutosh Mishra</h5>
                          <p style="padding: 0px;margin:0px;margin-top: -16px;border-bottom: 1px solid grey;font-size: 12px;">Fitness Trainer</p>
                          <p style="padding: 10px;font-size: 12px;">In the past one year Local calls has given me business worth Rs. 4.5Lakh+ and has enabled me in quitting my MNC job.</p>
                        </div>
                      </div>

                     
                  </div>
                 </div>
                </div>
              </div>
            </section>
          -->
