<div class="backgroundimg row">
  <div class="col-md-5 contentcontact">
    <h1 class="text text-center">Advertise With Us</h1>
    <div class="col-md-8 col-md-offset-2">
    <img class="img-responsive" src="assets/img/map-transparent.png">
    </div>
  </div>
  <div class="vl col-md-1"></div>
  <div class="col-md-3 col-md-offsset-1 content">
      <h4>Advertise with us to spread your business all over the India.</h4>
      <div class="office-address">
        <h3 class="text text-center">Office Location</h3>
        <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp; <span style="font-weight: bold;">Corporate Office : </span> Level-02, Wing B, Art Guild House, Phoenix Market City, L.B.S Marg, Kurla (W), BKC Annexe, Mumbai-400070, Maharashtra, India</p>
        <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp; <span style="font-weight: bold;">Registered Office : </span> Aakob Technologies Private Limited : Flat No. 11, OM Plaza, Sec-19, Indra Nagar, Lucknow-226016, Phone : 0522-4238532</p>
        <p><i class="fa fa-envelope"></i>&nbsp;&nbsp; info@localcalls.in, sales@localcalls.in, rohit.karidhl@localcalls.in</p>
        <p><i class="fa fa-mobile"></i>&nbsp;&nbsp; 18002006363, +91 8888028888</p>
      </div>
  </div>
</div>
